services:
    shieldnet-defend-base:
        build:
            context: ./shieldnet-defend-base
            args:
                SHIELDNET_DEFEND_BRANCH: ${SHIELDNET_DEFEND_BRANCH}
        image: dev-shieldnet-defend-base

    shieldnet-defend-master:
        build:
            context: ./shieldnet-defend-manager
            target: server
        image: dev-shieldnet-defend-manager
        hostname: shieldnet-defend-master
        volumes:
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/framework/scripts:/var/ossec/framework/scripts
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/api/scripts:/var/ossec/api/scripts
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/framework/shieldnetdefend:/var/ossec/framework/python/lib/python${SHIELDNET_DEFEND_PYTHON_VERSION}/site-packages/shieldnetdefend
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/api/api:/var/ossec/framework/python/lib/python${SHIELDNET_DEFEND_PYTHON_VERSION}/site-packages/api
        ports:
            - "55050:55000"
        entrypoint:
            - /scripts/entrypoint.sh
            - shieldnet-defend-master
            - master-node
            - master
        depends_on:
            - shieldnet-defend-base

    shieldnet-defend-worker1:
        image: dev-shieldnet-defend-manager
        hostname: shieldnet-defend-worker1
        volumes:
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/framework/scripts:/var/ossec/framework/scripts
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/api/scripts:/var/ossec/api/scripts
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/framework/shieldnetdefend:/var/ossec/framework/python/lib/python${SHIELDNET_DEFEND_PYTHON_VERSION}/site-packages/shieldnetdefend
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/api/api:/var/ossec/framework/python/lib/python${SHIELDNET_DEFEND_PYTHON_VERSION}/site-packages/api
        depends_on:
            - shieldnet-defend-master
        ports:
            - "55051:55000"
        entrypoint:
            - /scripts/entrypoint.sh
            - shieldnet-defend-master
            - worker1
            - worker

    shieldnet-defend-worker2:
        image: dev-shieldnet-defend-manager
        hostname: shieldnet-defend-worker2
        volumes:
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/framework/scripts:/var/ossec/framework/scripts
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/api/scripts:/var/ossec/api/scripts
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/framework/shieldnetdefend:/var/ossec/framework/python/lib/python${SHIELDNET_DEFEND_PYTHON_VERSION}/site-packages/shieldnetdefend
            - ${SHIELDNET_DEFEND_LOCAL_PATH}/api/api:/var/ossec/framework/python/lib/python${SHIELDNET_DEFEND_PYTHON_VERSION}/site-packages/api
        depends_on:
            - shieldnet-defend-master
        ports:
            - "55052:55000"
        entrypoint:
            - /scripts/entrypoint.sh
            - shieldnet-defend-master
            - worker2
            - worker

    nginx-lb:
        build:
            context: ./nginx-lb
        image: dev-nginx-lb
        restart: on-failure:5
        entrypoint:
            - /scripts/entrypoint.sh
        depends_on:
            - shieldnet-defend-master
            - shieldnet-defend-worker1
            - shieldnet-defend-worker2

    shieldnet-defend-agent:
        build:
            context: ./shieldnet-defend-agent
        image: dev-shieldnet-defend-agent
        entrypoint:
            - /scripts/entrypoint.sh
            - nginx-lb
            - ${SHIELDNET_DEFEND_VERSION}
        depends_on:
            - shieldnet-defend-master
            - shieldnet-defend-worker1
            - shieldnet-defend-worker2
            - nginx-lb
