[Unit]
Description=ShieldnetDefend agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
TimeoutSec=45

ExecStart=/usr/bin/env SHIELDNET_DEFEND_HOME_TMP/bin/shieldnet-defend-control start
ExecStop=/usr/bin/env SHIELDNET_DEFEND_HOME_TMP/bin/shieldnet-defend-control stop
ExecReload=/usr/bin/env SHIELDNET_DEFEND_HOME_TMP/bin/shieldnet-defend-control reload

KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
